.formzz {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1445334387926-6a1bbaff402a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2987&q=80);
    background-size: cover;
    background-position: center;
  }