.formzz {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1518972734183-c5b490a7c637?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);
    background-size: cover;
    background-position: center;
  }