.hero {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1595859059714-04d1c0c874c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
  background-size: cover;
  background-position: center;
}

.heroMargin {
  color: white;
  margin-top: 15rem !important;
}

.heroText {
  color: white;
}
